.auth {
  --widthIcon: 36px;
  --heightIcon: 36px;

  position: relative;
}

.login {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--width);
  height: var(--height);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-base);
  border: none;
  border-radius: var(--border-radius-md);
  color: var(--accent);
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

@media (hover: hover) {
  .login:hover {
    background-color: var(--gray-alpha);
  }
}

@media (hover: none) {
  .login:active {
    background-color: var(--gray-alpha);
  }
}

.login:focus {
  outline: none;
}

.login:focus-visible {
  outline: var(--outline);
}

.icon {
  width: var(--widthIcon);
  height: var(--heightIcon);
}

.img {
  width: var(--widthIcon);
  height: var(--heightIcon);
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

@media (max-width: 768px) {
  .auth {
    --widthIcon: 30px;
    --heightIcon: 30px;
  }
}
