.button {
  --color: currentColor;
  --backgroundColor: transparent;
  --hoverColor: currentColor;
  --hoverBgColor: var(--gray);

  flex-shrink: 0;
  border: none;
  border-radius: var(--border-radius-md);
  color: var(--color);
  background-color: var(--backgroundColor);
  transition-property: color, background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

@media (hover: hover) {
  .button:hover {
    background-color: var(--hoverBgColor);
  }
}

@media (hover: none) {
  .button:active {
    background-color: var(--hoverBgColor);
  }
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: var(--outline);
}

.buttonText {
  display: block;
  padding: 12px 20px;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-base);
}

.buttonIcon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--width);
  height: var(--height);
}

.light {
  --color: var(--gray-darker);
  --backgroundColor: var(--gray-lighter);
  --hoverBgColor: var(--gray-light);
}

.dark {
  --color: var(--gray-lighter);
  --backgroundColor: var(--gray-darker);
  --hoverBgColor: var(--gray-dark);
}

.accent {
  --color: var(--gray-lighter);
  --backgroundColor: var(--accent);
  --hoverBgColor: var(--accent-light);
}

@media (max-width: 768px) {
  .buttonText {
    padding: 10px 16px;
  }
}
