.form {
  position: relative;
  width: 100%;
  margin-top: auto;
}

.input {
  width: 100%;
  padding: 14px 60px 14px 20px;
  border: none;
  border-radius: var(--border-radius-md);
  background-color: var(--gray);
}

.input::placeholder {
  color: var(--gray);
}

.input:focus {
  outline: none;
}

.input:focus-visible {
  outline: var(--outline);
}

.icon {
  width: 24px;
  height: 24px;
}

@media (max-width: 768px) {
  .input {
    padding: 9px 40px 9px 16px;
  }

  .icon {
    width: 20px;
    height: 20px;
  }
}
