:root {
  --laptop-size: 1024px;
  --tablet-size: 768px;
  --mobile-size: 480px;

  --container-width: 1200px;
  --container-padding-x: 20px;

  --gray-lighter: #fafafa;
  --gray-light: #ccc;
  --gray: #a6a6a6;
  --gray-dark: #343434;
  --gray-darker: #272727;

  --gray-alpha: rgb(0 0 0 / 0.1);

  --accent-light: #ff7373;
  --accent: #ff4d4d;
  --accent-dark: #ff4444;

  --success: #00cd67;
  --warning: #ffa500;
  --error: var(--accent);

  --font-family: 'Gilroy', sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-size-base: 16px;
  --font-size-sm: 12px;

  --border-radius-xlg: 32px;
  --border-radius-lg: 20px;
  --border-radius-md: 12px;
  --border-radius-sm: 6px;

  --outline: 2px solid var(--gray-dark);
  --blur: blur(18px);

  --padding-layout: 28px;

  --width: 48px;
  --height: 48px;

  --box-shadow: 0px 0px 10px var(--gray-alpha);
}

@media (max-width: 1024px) {
  :root {
    --padding-layout: 24px;
  }
}

@media (max-width: 768px) {
  :root {
    --border-radius-xlg: 28px;
    --border-radius-lg: 16px;
    --border-radius-md: 10px;
    --border-radius-sm: 4px;

    --padding-layout: 20px;

    --width: 36px;
    --height: 36px;
  }
}

@media (max-width: 480px) {
  :root {
    --padding-layout: 16px;
  }
}
