.pin {
  position: relative;
  color: var(--gray-dark);
}

.content {
  display: flex;
  gap: 12px;
  border: 1px solid var(--gray-alpha);
  border-radius: var(--border-radius-xlg);
  background-color: var(--gray-lighter);
}

.leftColumn,
.rightColumn {
  flex-basis: 50%;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 12px;
  padding: 20px;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .rightColumn {
    row-gap: 16px;
  }

  .buttonsGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 12px;
    margin-left: -6px;
  }

  .comments {
    display: none;
  }
}
