.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding-block: calc(var(--padding-layout) / 2) var(--padding-layout);
  background-color: var(--gray-lighter);
  backdrop-filter: var(--blur);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  border: 1px solid var(--gray);
  border-radius: var(--border-radius-md);
  background-color: var(--gray);
}
