.logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius-md);
  color: var(--accent);
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

@media (hover: hover) {
  .logo:hover {
    background-color: var(--gray-alpha);
  }
}

@media (hover: none) {
  .logo:active {
    background-color: var(--gray-alpha);
  }
}

.logo:focus {
  outline: none;
}

.logo:focus-visible {
  outline: var(--outline);
}

.icon {
  width: 36px;
  height: 36px;
}

@media (max-width: 768px) {
  .icon {
    width: 30px;
    height: 30px;
  }
}
